- content_for :header do
  = stylesheet_link_tag 'artists'

%h2
  #{@artist.name}

.artist
  .artist-image
    - if @artist_image
      %img{:src => "#{@artist_image}", :width => 400, :height => 400}
  .artist-desc
    - if @description
      #{@description}