%div
  %h3 Duplikatcheck
  %p Bei einem Klick auf den Button unten werden alle Duplikate aus der Datenbank entfernt.
  =link_to "Duplikate entfernen", management_duplicatecheck_path, class: "btn"

%div
  %h3 Import
  %p="Alle Songs aus dem unsorted-Ordner #{Preferences.mp3_unsorted_folder} importieren."
  =link_to "Importieren", management_import_path, class: "btn"
