<h1>Eigenes Album erstellen</h1>


<div>
<h4>
  Album von einem Künstler hinzufügen:
  </h4>
  <form class="form-inline">
    <input type="text" style:"float:left" id="inputEmail" placeholder="Künstlername">
    <input type="text" style:"float:right" id="inputAlbum" placeholder="Albumname">
    <button type="submit" style:"float:right" class="btn btn-inverse">Suchen</button>
  </form>
</div>
<div>
<textarea rows="5" placeholder="Gewünschte Liste von Songs bitte in folgender Form angeben: Künstler - Titel"></textarea>
</div>

<button class="btn btn-inverse" style:"float:left"> Lieder suchen und Playlist zusammenstellen</button>