/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require _font-awesome
 *= require jquery.fileupload-ui
 *= require_tree .
 */


html, body {
  height: 100%;
}

#title {
  margin-left: 10px;
  margin-right: 10px;
}

#footer {
  position: fixed;
  width: 100%;
  background-color: black;
  bottom: 0px;
}

#player {
  background-color: #000;
  margin: 0px auto;
}

.addscrollpane {
max-height: 120px;
overflow: auto;
}

.jp-audio {
  margin: 0px auto;
}

div.jp-gui {
  background: black !important;
}

div.jp-playlist li {
  background: black !important;
}