// Place all the styles related to the musicexplorer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.musicpanel h3 {
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom, white, #F2F2F2);
  border-radius: 10px;
  padding: 5px;
  clear: both;
}

.musicpanel .paging {
  float:right;
}

ul.col {
  float: left;
  width: 250px;
}

.btn-group {
  margin-bottom: 10px;
}