.musicpanel
  .artists
    %h3 
      Künstler
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul
      %li Die Toten Hosen
      %li Eminem
      %li Madonna
  .albums
    %h3 
      Alben
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul
      %li Tage wie diese
      %li Ballast der Republik
      %li Celebration
  .titles
    %h3 
      Titel
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul
      %li Lose yourself
      %li Balast der Republik
      %li Tage wie diese
