.musicpanel
  %table.table.table-hover.music-table
    %caption Songs
    %thead
      %tr
        %th Track
        %th Artist
        %th Time
        %th Album
    %tbody#table-content
          

%table{:style => "visibility:hidden"}
  %tbody#row-entry-container
    %tr
      %td.row-track
      %td.row-artist
      %td.row-time
      %td.row-album 
      %td.row-buttons
        %a.btn.btn-small.play-btn
          %i.icon-play
            Play
        %a.btn.btn-small.search-btn
          %i.icon-search
            Search