- content_for :header do
  = javascript_include_tag 'musicexplorer'
  = javascript_include_tag 'mp3player'
.musicpanel
  %table.table.table-hover.music-table
    %caption
      %h2 Vorhandene Songs
    %thead
      %tr
        %th Track
        %th Artist
        %th Time
        %th Album
    %tbody#table-content
          

%table{:style => "visibility:hidden"}
  %tbody#row-entry-container
    %tr
      %td.row-track
      %td.row-artist
      %td.row-time
      %td.row-album 
      %td.row-buttons
        .button-container
          .btn-group
            %a.btn.btn-small.play-btn
              %i.icon-play
                Abspielen
          .btn-group
            %a.btn.btn-small.search-btn
              %i.icon-search
                Infos
          .btn-group
            %a#playlist-container.btn.btn-small.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-bookmark
                Hinzufügen
            %ul.dropdown-menu
              - @playlists.each do |playlist|
                %li
                  %a.playlist-button{"data-playlistid" => playlist.id} #{playlist.name}

  