.musicpanel
  %table.table.table-hover.music-table
    %caption Songs
    %thead
      %tr
        %th Track
        %th Artist
        %th Time
        %th Album
    %tbody#table-content

%table{:style => "visibility:hidden"}
  %tbody#row-entry-container
    %tr
      %td.row-track
      %td.row-artist
      %td.row-time
      %td.row-album 
