.musicpanel
  .artists
    %h3 
      Künstler
      %br
    %i.icon-chevron-right
    %i.icon-chevron-left.icon-4x
    %ul
      %li Die Toten Hosen
      %li Eminem
      %li Madonna
  .albums
    %h3 Alben
    %ul
      %li Tage wie diese
      %li Ballast der Republik
      %li Celebration
  .titles
    %h3 Titel
    %ul
      %li Lose yourself
      %li Balast der Republik
      %li Tage wie diese
