.musicpanel
  .artists
    %h3 
      Künstler
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul#0_col_artist
    %ul#1_col_artist
    %ul#2_col_artist
  .albums
    %h3 
      Alben
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul.col#0_col_album
    %ul.col#1_col_album
    %ul.col#2_col_album
  .titles
    %h3 
      Songs
      .paging
        %i.icon-chevron-left.icon-1x
        %i.icon-chevron-right.icon-1x
    %ul.col#0_col_song
    %ul.col#1_col_song 
    %ul.col#2_col_song 
