!!!
%html
  %head
    %title Ecotunes
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar
        .navbar-inner
          %a.brand Ecotunes
          %ul.nav
            %li
              %a Test1
            %li
              %a Test2
            %li
              %a Test3
          %form.navbar-search.pull-right
            %input#search.search-query{:placeholder => "Musik suchen"}
      .container
        = yield
    #footer
      #player Hier kommt der Player hin
  



